@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

$primaryColor: #FF833E;
$secondaryColor: #FFCA3E;
$tertiaryColor: #F6F8FA;
$quaternaryColor: #e14444;
$black: #24292E;
$green:#7C9D68;
$dashColor: #CCCCCC;
$headerFont: "Pompiere", "Arial";
$paragraphFontKR: "Nanum Gothic Coding", "Arial";
$paragraphFont: "Quicksand", "Arial";
$boxshadow: rgba(0, 0, 0, 0.18) -3px 3px 0px;
$boxshadowHover: rgba(0, 0, 0, 0.2) 0px 0px 0px;
$textshadow: rgba(0, 0, 0, 0.35) 0px 1px 2px;
$borderRadius: 8px;

$maxWidth: 1000px;

html{scroll-behavior:smooth}
.brown{color:$primaryColor}
.green{color:$green!important}

body {
  overflow-x: hidden;
}

.primary {
  background: $primaryColor
}

.full {
  height: 100%!important;
}

#gradient {
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 68, 169, 0.2) -5.33%, rgba(67, 175, 182, 0.125) 10%, rgba(255, 181, 33, 0) 49.82%);
  z-index: -1;
}

#gradient-2 {
  width: 100%;
  height: 250px;
  position: absolute;
  top: 200px;
  background: linear-gradient(180deg, rgba(112, 51, 18, 0.3) -63.8%, rgba(199, 163, 142, 0.3) -40.4%, rgba(255, 255, 255, 0.4) 24.23%);
  z-index: -1;
}

.order {
  font-family: $paragraphFont;
  font-size: 12px!important;
  font-weight: bold;
  color: #848484!important;
  margin: 0;
}

.secondary {
  background: $black;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

span {
  font-weight: bold;
  color: $primaryColor;
}

.masterContainer {
    position: absolute;
    left: 0;
    right: 0;
}

#patterns {
  width: $maxWidth;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

hr {
  border-top: 1px solid #888888;
  width: 100%;
}

.first {
  margin-top: 150px!important;
}

.introHeader {
    font-family: $headerFont;
    margin: 0;
    line-height: 105%;
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: normal;
    color: #e14444;
}

.container {
  position: relative;
  width: $maxWidth;
  height: 100%;
  margin: 0 auto;
}

p {
  margin: 10px 0;
  color: $black;
  font-family: $paragraphFontKR;
}

#lines {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-left: 1px solid $dashColor;
  border-right: 1px solid $dashColor;
  width: 1000px;
  height: 1920px;
  bottom: 0;
  z-index: 100;
}

//************************** LANDING **************************
#landing {
  width: 100%;
  height: 600px;
  margin: 10px auto 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#introduction {
  white-space: nowrap;
  box-sizing: border-box;
  z-index: 200;
  height: 250px;
  transition-timing-function: cubic-bezier(0, 0, 0.4, 0.96); 
  transition-duration: 500ms;
  text-align: center;
  
  .button {
    font-weight: bold;
    margin: 20px 15px;
  }

  h2 {
    font-family: "Arial";
    margin: 20px 5px 0px 5px;
    color: #8e8e8e;
    font-weight: bold;
    font-size: 12px;
  }

  p {
    font-family: "Sunflower";
    font-weight: 300;
    font-size: 17px;
    color: $black;
  }
}

#landing-image {
  display: flex;
  justify-content: center;
  z-index: 100;
  align-items: center;
  align-self: center;
  height: 200px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.3, 1);
  transition-duration: 1000ms;
  transition-delay: 800ms;
}

#filler {
  height: 50px;
}

#houses {
  position: relative;
  text-align: center;
  border-bottom: 1px solid $dashColor;
  width: 100%;
  position: relative;
  text-align: center;
  width: 100%;
  height: 200px;

  &::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: -4px;
    left: 0px;
    image-rendering: -webkit-optimize-contrast;
    background: url("../images/middle_house.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.4;
  }
}

// Houses
#house-image {
  width: 850px;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  opacity: 0.3;
  

}

// Bento Image
#bento-image {
  position: absolute;
  width: 450px;
  bottom: -240px;
  left: -30px;
  right: 0;
  margin: 0 auto;
  transition-timing-function: cubic-bezier(0, 0, 0.4, 0.96);
  transition-duration: 500ms;
  z-index: 1000;
}

#tsparticles {
  z-index: 10000;
  position: absolute;
  bottom: -200px;
  height: 400px;
  width: 500px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#menu-intro {
  position: relative;
  z-index: 10000;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  height: 300px;
  text-align: center;

  & > div:nth-child(1) {
    flex-grow: 1;
  }

  & > div:nth-child(2) {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & > div:nth-child(3) {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 30px;
      margin: 0 10px;
      margin-top: -40px;
    }
  }
}

.introHeading {
  padding: 0 10px;

  h1 {
    font-family: $paragraphFont;
    font-size: 12px;
    color: #7c8084;
    margin: 0;
  }

  h2 {
    font-family: $paragraphFontKR;
    font-size: 30px;
    color: $black;
    line-height: 45px;
    margin: 5px 0;
  }
}

#menu-wrapper {
  height: 400px;
  width: 100%;
  position: relative;
  z-index: 100;
  overflow: hidden;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  background-color: $tertiaryColor;
  box-shadow: inset 0px 2px 8px #d6d6d6;

  & > div:first-child {
    display: flex;
    height: 100%;
  }

  #flowers-container {
    display: flex;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
}

#menu-introduction {
  position: relative;
  width: 50%;
  padding: 50px 10px 0 80px;
  box-sizing: border-box;

  p {
    font-size: 14px;
    line-height: 20px;
  }
}

#menuCards {
  position: relative;
  height: 100%;
  width: 50%;
  z-index: 10000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  .menuCard {
    padding: 2px;
    margin: 0 30px;
    border: 1px solid #d3d3d3;
    background-color: white;
    border-radius: $borderRadius;
    box-shadow: $boxshadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    img {
      width: 130px;
      border-radius: $borderRadius;
    }
  }

  .menuCard:nth-child(1) {
    width: 150px;
    height: 130px;
  }

  .menuCard:nth-child(2) {
    width: 130px;
    height: 150px;
    margin-top: -30px;
    
    img {
      transform: rotate(90deg);
    }
  }

  .menuCard:nth-child(3) {
    width: 150px;
    height: 130px;
    margin-top: -90px;
  }
}

#flowers {
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
  box-sizing: border-box;

  img {
    display: inline-block;
    height: 70px;
    z-index: -10;
  }

  img:nth-child(3) {
    margin-top: 5px;
  }
}

#gallery-introduction {
  position: relative;
  z-index: 1000;
  width: 850px;
  margin: 90px auto 100px auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  p {
    font-size: 14px;
    text-align: center;
    line-height: 20px;
  }
}

#gallery-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin: 30px 0;

  & > div {
    div {
      border-radius: $borderRadius;
      margin: 8px;
      box-shadow: $boxshadow;
      background-position: center;
      background-size: cover;
    }
  }
}

#gallery1 {
  top: 0;
  left: 0;
  width: 130px;
  height: 130px;
  background-image: url("../images/jungdam3.jpg");
}

#gallery2 {
  top: 0;
  left: 50%;
  width: 130px;
  height: 130px;
  background-image: url("../images/gallery/4.jpg");
}

#gallery3 {
  top: 230px;
  width: 130px;
  height: 268px;
  background-image: url("../images/gallery/16.jpg");
  background-position-x: -80px!important;
}

#gallery4 {
  top: 160px;
  left: 50%;
  width: 180px;
  height: 130px;
  background-image: url("../images/gallery/13.jpg");
}

#gallery5 {
  top: 160px;
  left: 50%;
  width: 180px;
  height: 130px;
  background-image: url("../images/gallery/14.jpg");
}

#gallery6 {
  top: 160px;
  left: 50%;
  width: 130px;
  height: 130px;
  background-image: url("../images/gallery/1.jpg");
}

#gallery7 {
  top: 160px;
  left: 50%;
  width: 130px;
  height: 130px;
  background-image: url("../images/jungdam5.jpg");
}

//************************** BUTTON **************************
.button {
  width: 120px;
  height: 40px;
  border-radius: $borderRadius;
  border: none;
  color: white;
  box-shadow: $boxshadow;
  cursor: pointer;
  margin: 25px 0 0 0;
  font-family: $paragraphFontKR;
  transition: box-shadow 100ms cubic-bezier(.17,.67,.83,.67), transform 500ms 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: $boxshadowHover;
  }

  &:active {
    box-shadow: $boxshadowHover;
  }
}

.secondaryButton {
  position: relative;
  font-weight: bold;
  width: max-content;
  color: $primaryColor;
  font-size: 14px!important;
  margin: 15px 0;
  text-align: left!important;
  z-index: 5000;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.secondaryButtonAnchor {
  text-decoration: none;
}

//************************** NAVIGATION **************************
.revealNav {
  background-color: rgba( 255, 255, 255, 1);
  border-bottom: 1px solid #d1d1d1;

  & > div:first-child {
    height: 100px;
  }
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba( 255, 255, 255, 0);
  z-index: 100000;
  transition: all 200ms cubic-bezier(0.56, 0.01, 0.5, 0.99);
  border-bottom: 1px solid #ababab00;

  & > div {
    background-color: rgba( 255, 255, 255, 0);
    z-index: 1000;
    transition: all 200ms cubic-bezier(0.56, 0.01, 0.5, 0.99);
    position: relative;
    z-index: 200;
    width: 1000px;
    margin: 0 auto;
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  ul {
    list-style-type: none; 
    margin: 0 30px 0 auto; 
    padding: 0; 
  }
  
  li { 
    display: inline-block; 
    margin: 0 10px;
    font-weight: 500;
    font-family: $paragraphFont;
    font-size: 14px;
    cursor: pointer;


    a {
      text-decoration: none;
      box-sizing: border-box;
      color: $black;
      padding: 10px 27px; 
      border-radius: $borderRadius;
      transition-timing-function: cubic-bezier(.17,.67,.83,.67);
      transition-duration: 150ms;
      opacity: 1;
      
      &:hover {
        background-color: #eeeeee;
      }
    }
  
    &:last-child {
      margin-right: 0;
    }
  }
}

.active {
  background-color: #eeeeee;
  opacity: 1;
}

#logo {
  image-rendering: -webkit-optimize-contrast;
  margin-left: 30px;
  width: 143px;
  height: 51px;
}

//************************** FOOTER **************************
footer {
  position: relative;
  width: 100%;
  background-color: $tertiaryColor;
  z-index: 300;
  border-top: 1px solid #d1d1d1;
}

.footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  & > div {
    display: flex;
    margin-left: 20px;
    margin-bottom: 10px;
    align-items: center;

    img {
      height: 35px;
    }

    p {
      padding: 0 10px;
      font-size: 10px;
    }
  }

  & > p {
    margin: 0 0 10px 20px; 
    font-size: 10px;
    text-align: left;
  }

  ul {
    text-align: left;
    list-style-type: none; 
    padding: 0; 
    width: 50%;
    margin: 30px 0 15px 0;
  }
  
  li { 
    font-size: 12px;
    display: inline-block; 
    color: $black;
    padding: 8px 8px 8px 0; 
    text-decoration: none;
    margin: 0 20px;
    font-weight: normal;
    font-family: $paragraphFontKR;
  }
}

//************************** LINES **************************
.bgLine {
  position: absolute;
  height: 100%;
  border-left: 1px dashed $dashColor;
  
}

.middleLine {
  left: 50%;
  z-index: 50;
}

.landingMidLine {
  height: 100%;
  bottom: 0;
}

.leftLine {
  left: 25%;
}

.rightLine {
  right: 25%;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.up {
  transform: translateY(-20px);
}

.ogPos {
  transform: translateY(0px);
}

//************************** MEDIA QUERIES **************************
$width: 480px;
$maxWidth: 480px;
$paddedWidth: 450px;

@media (min-width: 481px) and (max-width: 1000px) {
  $divisor: 1.4;
  #gradient-2 {
    top: 225px;
  }

  .container {
    min-width: $width;
    max-width: 90vw;
  }
  
  #patterns {
    width: $maxWidth;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  .introHeader {
    line-height: 105%;
    font-size: 40px;
  }

  #lines {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-left: 1px dashed $dashColor;
    border-right: 1px dashed $dashColor;
    min-width: 320px;
    max-width: 90vw;
    height: 100%;
    z-index: 100;
  }

  .introHeading {
    h1 {
      font-family: $paragraphFont;
      font-size: 10px;
      margin: 0;
    }
  
    h2 {
      font-family: $paragraphFontKR;
      font-size: 22px;
      color: $black;
      line-height: 30px;
      margin: 5px 0;
    }
  }

  //************************** LANDING **************************
  #landing {
    width: 100%;
    height: 500px;
    margin: 0 auto;
  }
  
  p {
    font-size: 10px;
  }
  

  #introduction {
    padding: 10px;

    .button {
      margin-right: 10px;
    }

    h2{
      font-size: 10px;
    }

    p {
      font-size: 12px;
      color: #383838;
    }
  }

  #houses {
    height: 250px;
  
    &::before{
      bottom: -2px;
      background-size: cover;
      opacity: 0.3;
    }
  }
  
  // Bento Image
  #bento-image {
    width: 350px;
    bottom: -140px;
  }
  
  #tsparticles {
    bottom: -100px;
    height: 350px;
    width: 100%;
  }

  #menu-intro {
    position: relative;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 200px;
  
    & > div:nth-child(2) {
      height: 150px;
      display: flex;
    }
  
    & > div:nth-child(3) {
      img {
        width: 20px;
        margin: 0 10px;
        margin-top: -40px;
      }
    }
  }

  #menu-wrapper {
    height: 450px;
    width: 100%;
  
    & > div:first-child {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  
    #flowers-container {
      display: flex;
      height: 70px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
    }
  }
  
  #menu-introduction {
    position: relative;
    width: 100%;
    padding: 30px 0px;
    box-sizing: border-box;
  
    p {
      font-size: 11px;
      line-height: 20px;
    }
  }
  
  #menuCards {
    width: 100%;
    margin-bottom: 80px;
    
    .menuCard {
      padding: 2px;
      margin: 0 10px;
  
      img {
        width: 110px;
        border-radius: $borderRadius;
      }
    }
  
    .menuCard:nth-child(1) {
      width: 130px;
      height: 100px;
      margin-top: -50px;
    }
  
    .menuCard:nth-child(2) {
      width: 100px;
      height: 130px;
      margin-top: -60px;
      
      img {
        transform: rotate(90deg);
      }
    }
  
    .menuCard:nth-child(3) {
      width: 130px;
      height: 100px;
      margin-top: -90px;
    }
  }
  
  #flowers {
    width: 100%;
    padding: 0 10px;
  
    img {
      height: 70px;
      z-index: -10;
    }
  
    img:nth-child(3) {
      margin-top: 5px;
    }
  }

  #gallery-introduction {
    width: $maxWidth;
    padding: 5px;
    box-sizing: border-box;
    margin: 90px auto 100px auto;
    display: flex;
    justify-content: space-between;
  
    p {
      font-size: 11px;
      text-align: center;
      line-height: 20px;
    }
  }
  
  #gallery-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    margin: 20px 0;
  
    & > div {
      div {
        margin: 10px;
      }
    }
  }
  
  #gallery1 {
    top: 0;
    left: 0;
    width: 130px;
    height: 130px;
  }
  
  #gallery2 {
    top: 0;
    left: 50%;
    width: 130px;
    height: 130px;
  }
  
  #gallery3 {
    top: 230px;
    width: 130px;
    height: 268px;
  }
  
  #gallery4 {
    display: none;
  }
  
  #gallery5 {
    display: none;
  }
  
  #gallery6 {
    display: none;
  }
  
  #gallery7 {
    display: none;
  }

  //************************** NAVIGATION **************************
  nav > div {
    min-width: $width;
    max-width: 90vw;
    margin: 0 auto;
    height: 100px;

    ul {
      margin: 0 0 0 auto;
    }
    
    li { 
      margin: 0 10px;
      font-size: 12px;
      padding: 10px 0;
      
      a {
        padding: 10px 15px; 
      }
    }
  }

  #logo {
    margin-left: 20px;
    width: 102px;
    height: 37px!important
  }

  #bgSvg {
    width: 100%;
  }

  //************************** BUTTON **************************
  .button {
    width: 100px;
    height: 37px;
    font-size: 12px;
    margin: 15px 0 0 0;
  }


  .leftLine {
    left: 25%;
  }
  
  .rightLine {
    right: 25%;
  }

  //************************** FOOTER **************************
  footer {
    .footer {
      & > div {
        margin-bottom: 10px;

        img {
          height: 25px;
        }

        p {
          padding: 0 0 0 8px;
          margin: 0;
        }
      }

      ul {
        width: 100%;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  $divisor: 1.4;
  $maxWidth: 320px;

  #gradient-2 {
    top: 167px;
  }

  .first {
    margin-top: 130px!important;
  }

  .leftLine {
    visibility: hidden;
  }

  .rightLine {
    visibility: hidden;
  }

  .landingMidLine {
    height: 100%;
  }

  .container {
    min-width: 320px;
    max-width: 81vw;
  }

  .secondaryButton { 
    font-size: 12px!important;
  }

  #patterns {
    width: $maxWidth;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  .introHeader {
    line-height: 105%;
    font-size: 42px;
  }

  #lines {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border-left: 1px solid $dashColor;
    border-right: 1px solid $dashColor;
    min-width: 320px;
    max-width: 90vw;
    height: 78%;
    z-index: 100;
  }

  .introHeading {
    h1 {
      font-family: $paragraphFont;
      font-size: 10px;
      margin: 0;
    }
  
    h2 {
      font-family: $paragraphFontKR;
      font-size: 22px;
      color: $black;
      line-height: 30px;
      margin: 5px 0;
    }
  }

  //************************** LANDING **************************
  #landing {
    width: 100%;
    height: 450px;
    margin: 0 auto;
  }
  
  p {
    font-size: 10px;
  }

  #menu-intro {
    position: relative;
    margin-top: 100px;
    margin-bottom: 20px;
    height: 150px;
  
    & > div:nth-child(2) {
      height: 100px;
      display: flex;
    }
  
    & > div:nth-child(3) {
      img {
        width: 20px;
        margin: 0 10px;
        margin-top: -10px;
      }
    }
  }
  

  #introduction {
    padding: 10px;

    .button {
      margin-right: 10px;
    }

    h2{
      font-size: 10px;
    }

    p {
      font-size: 14px;
      color: #383838;
    }
  }

  #houses {
    height: 180px;
  
    &::before{
      bottom: -2px;
      background-size: cover;
      opacity: 0.3;
    }
  }
  
  // Bento Image
  #bento-image {
    width: 320px;
    bottom: -150px;
    left: -20px;
  }
  
  #tsparticles {
    bottom: -130px;
    height: 300px;
    width: 100%;
  }

  #menu-wrapper {
    height: 550px;
    width: 100%;
  
    & > div:first-child {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  
    #flowers-container {
      display: flex;
      height: 60px;
      position: absolute;
      z-index: 1000;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
    }
  }
  
  #menu-introduction {
    position: relative;
    width: 100%;
    padding: 30px 0px;
    box-sizing: border-box;
  
    p {
      font-size: 11px;
      line-height: 20px;
    }
  }
  
  #menuCards {
    width: 100%;
    margin-bottom: 80px;
    
    .menuCard {
      padding: 2px;
      margin: 0 10px;
  
      img {
        width: 110px;
        border-radius: $borderRadius;
      }
    }
  
    .menuCard:nth-child(1) {
      width: 130px;
      height: 100px;
      margin-top: -50px;

      img {
        width: 100px;
      }
    }
  
    .menuCard:nth-child(2) {
      width: 100px;
      height: 130px;
      margin-top: -60px;
      
      img {
        transform: rotate(90deg);
      }
    }
  
    .menuCard:nth-child(3) {
      width: 130px;
      height: 100px;
      margin-top: -40px;
    }
  }
  
  #flowers {
    width: 100%;
    padding: 0 10px;
  
    img {
      height: 60px;
      z-index: -10;
    }
  
    img:nth-child(3) {
      margin-top: 5px;
    }
  }

  #gallery-introduction {
    width: $maxWidth;
    padding: 5px 2px;
    box-sizing: border-box;
    margin: 50px auto 50px auto;
    display: flex;
    justify-content: space-between;
  
    p {
      font-size: 11px;
      text-align: center;
      line-height: 20px;
    }
  }
  
  #gallery-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    margin: 20px 0;
  
    & > div {
      div {
        margin: 10px;
      }
    }
  }
  
  #gallery1 {
    top: 0;
    left: 0;
    width: 130px;
    height: 130px;
  }
  
  #gallery2 {
    top: 0;
    left: 50%;
    width: 130px;
    height: 130px;
  }
  
  #gallery3 {
    top: 230px;
    width: 130px;
    height: 268px;
  }
  
  #gallery4 {
    display: none;
  }
  
  #gallery5 {
    display: none;
  }
  
  #gallery6 {
    display: none;
  }
  
  #gallery7 {
    display: none;
  }

  
  //************************** NAVIGATION **************************
  .revealNav > div:first-child {
    height: 60px;
  }

  nav > div {
    min-width: 320px;
    max-width: 90vw;
    margin: 0 auto;
    box-sizing: border-box;
    height: 110px;

    ul {
      margin: 0 0 0 auto;
    }
    
    li { 
      margin: 0px 2px;
      font-size: 10px;
      padding: 5px 0;
      border-radius: 5px;

      a {
        text-decoration: none;    
        font-size: 11px;
        padding: 6px 10px; 
        border-radius: 5px;
            
        &:hover {
          opacity: 1;
        }
      }
    
      &:last-child {
        margin-right: 0;
      }
    }
  }

  #logo {
    margin-left: 10px;
    width: 102px;
    height: 37px!important;
  }

  #bgSvg {
    width: 100%;
  }

  //************************** BUTTON **************************
  .button {
    width: 90px;
    font-size: 12px;
    height: 32px;
    margin: 10px 0 0 0;
    font-size: 10px;
    border-radius: 5px;
  }

  //************************** FOOTER **************************
  footer {
    .footer {
      box-sizing: border-box;
      padding: 5px 5px;
      & > div {
        margin: 10px 0 10px 0;

        img {
          height: 25px;
        }

        p {
          padding: 0 10px 0 10px;
          margin: 0;
        }
      }

      & > p {
        font-size: 8px;
        margin: 0 0 10px 0;
      }

      ul {
        width: 100%;
        margin: 10px 0 0 0;
      }
      
      li { 
        font-size: 10px;
        margin: 0;
      }
    }
  }
}
  