$boxshadow: rgba(0, 0, 0, 0.18) -3px 3px 0px;
$borderRadius: 8px;

.galleryContainer {
    padding: 30px;
    box-sizing: border-box;
    height: 2300px;

    & > div {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 500;

        img {
            position: absolute;
            box-shadow: $boxshadow;
            border-radius: $borderRadius;
        }
        
        $oneHeight: 440px;
        img:nth-child(1) {
            height: $oneHeight;
            top: 0;
            left: 0;
        }

        $twoHeight: 250px;
        img:nth-child(2) {
            height: $twoHeight;
            top: 0;
            right: 0;
        }

        $threeHeight: 250px;
        img:nth-child(3) {
            height: $threeHeight;
            top: 270px;
            right: 0;
        }

        $fourHeight: 250px;
        img:nth-child(4) {
            height: 285px;
            top: 1605px;
            left: 0;
        }

        $fiveHeight: 250px;
        img:nth-child(5) {
            height: $fiveHeight;
            top: 460px;
            left: 0;
        }

        $sixHeight: 460px;
        img:nth-child(11) {
            height: 300px;
            top: $sixHeight;
            left: 360px;
        }

        $sixHeight: 460px;
        img:nth-child(6) {
            height: 220px;
            top: $fourHeight + $threeHeight + 40px;
            right: 40px;
        }

        $sevenHeight: 250px;
        img:nth-child(7) {
            height: 250px;
            top: $sixHeight + 280px;
            left: 0;
        }

        img:nth-child(8) {
            height: 210px;
            top: 780px;
            right: 300px;
        }

        img:nth-child(10) {
            height: 210px;
            top: 780px;
            right: 0;
        }

        img:nth-child(9) {
            height: 400px;
            top: 1010px;
            right: 0;
        }

        img:nth-child(12) {
            height: 260px;
            top: 1010px;
            left: 35px;
        }

        img:nth-child(13) {
            height: 285px;
            top: 1295px;
            left: 0;
        }

        img:nth-child(14) {
            height: 190px;
            top: 1435px;
            right: 280px;
        }

        img:nth-child(15) {
            height: 190px;
            top: 1435px;
            right: 0;
        }

        img:nth-child(16) {
            height: 190px;
            top: 1650px;
            right: 280px;
        }

        img:nth-child(17) {
            height: 190px;
            top: 1650px;
            right: 0;
        }

        img:nth-child(18) {
            height: 190px;
            top: 1865px;
            right: 0;
        }

        img:nth-child(19) {
            height: 190px;
            top: 1865px;
            right: 280px;
        }

        img:nth-child(20) {
            height: 285px;
            top: 1915px;
            left: 0;
        }
    }
}

@media (min-width: 481px) and (max-width: 1000px) {
    .galleryContainer {
        padding: 10px;
        width: 490px;
        height: 1550px;
    
        & > div {
            img:nth-child(1) {
                height: 240px;
                top: 0;
                left: 0;
            }
    
            img:nth-child(2) {
                height: 95px;
                top: 0;
                right: 0;
            }
    
            img:nth-child(3) {
                height: 95px;
                top: 105px;
                right: 0;
            }
    
            img:nth-child(4) {
                height: 115px;
                top: 250px;
                left: 0;
            }
    
            img:nth-child(5) {
                height: 115px;
                top: 250px;
                left: 165px;
            }
    
            img:nth-child(11) {
                height: 150px;
                height: 170px;
                top: 215px;
                right: 0;
                left: unset;
            }
    
            img:nth-child(6) {
                height: 115px;
                top: 380px;
                left: 0;
                right: unset;
            }
    
            img:nth-child(7) {
                height: 95px;
                top: 400px;
                right: 0;
                left: unset;
            }
    
            img:nth-child(8) {
                height: 95px;
                top: 510px;
                right: 0;
            }
    
            img:nth-child(10) {
                height: 115px;
                top: 380px;
                left: 165px;
                right: unset;
            }
    
            img:nth-child(9) {
                height: 240px;
                top: 510px;
                left: 0;
            }
    
            img:nth-child(12) {
                height: 95px;
                top: 620px;
                right: 0;
                lefT: unset;
            }
    
            img:nth-child(13) {
                height: 95px;
                top: 730px;
                right: 0;
                left: unset;
            }
    
            img:nth-child(14) {
                height: 240px;
                top: 765px;
                left: 0;
                right: unset;
            }
    
            img:nth-child(15) {
                height: 95px;
                top: 840px;
                right: 0;
                lefT: unset;
            }

            img:nth-child(16) {
                height: 95px;
                top: 950px;
                right: 0;
                lefT: unset;
            }

            img:nth-child(17) {
                height: 95px;
                top: 1060px;
                right: 0;
                lefT: unset;
            }

            img:nth-child(18) {
                height: 95px;
                top: 1170px;
                right: 0;
                lefT: unset;
            }

            img:nth-child(19) {
                height: 240px;
                top: 1025px;
                left: 0;
                right: unset;
            }

            img:nth-child(20) {
                height: 200px;
                top: 1285px;
                left: 0;
                right: unset;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .galleryContainer {
        padding: 10px;
        height: 1800px;
    
        & > div {
            img:nth-child(1) {
                height: 120px;
                top: 0;
                left: 0;
            }
    
            img:nth-child(2) {
                height: 95px;
                top: 0;
                right: 0;
            }
    
            img:nth-child(3) {
                height: 95px;
                top: 105px;
                right: 0;
            }
    
            img:nth-child(4) {
                height: 120px;
                top: 130px;
                left: 0;
            }
    
            img:nth-child(5) {
                height: 120px;
                top: 265px;
                left: 0;
            }
    
            img:nth-child(11) {
                height: 170px;
                top: 215px;
                right: 0;
                left: unset;
            }
    
            img:nth-child(6) {
                height: 120px;
                top: 400px;
                left: 0;
                right: unset;
            }
    
            img:nth-child(7) {
                height: 95px;
                top: 400px;
                right: 0;
                left: unset;
            }
    
            img:nth-child(8) {
                height: 95px;
                top: 510px;
                right: 0;
            }
    
            img:nth-child(10) {
                height: 120px;
                top: 535px;
                left: 0;
                right: unset;
            }
    
            img:nth-child(9) {
                height: 225px;
                top: 670px;
                right: 0;
            }
    
            img:nth-child(12) {
                height: 105px;
                top: 910px;
                left: 0;
            }
    
            img:nth-child(13) {
                height: 105px;
                top: 910px;
                right: 0;
                left: unset;
            }
    
            img:nth-child(14) {
                height: 105px;
                top: 1030px;
                left: 0;
                right: unset;
            }
    
            img:nth-child(15) {
                height: 105px;
                top: 1030px;
                right: 0;
                left: unset;
            }

            img:nth-child(16) {
                height: 225px;
                top: 1150px;
                right: 0;
                left: unset;
            }

            img:nth-child(17) {
                height: 120px;
                top: 1390px;
                right: 0;
                left: unset;
            }

            img:nth-child(18) {
                height: 95px;
                top: 1390px;
                left: 0;
                right: unset;
            }

            img:nth-child(19) {
                height: 95px;
                top: 1505px;
                right: unset;
                left: 0;
            }

            img:nth-child(20) {
                height: 120px;
                top: 1525px;
                right: 0;
                left: unset;
            }
        }
    }
}
