$borderRadius: 5px;
$cardHeight: 290px;
$cardWidth: 215px;
$paragraphFontKR: "Nanum Gothic Coding", "Arial";
$primaryColor: #FF833E;
$secondaryColor: #F6F8FA;
$tertiaryColor: #e14444;
$fourth: #7C9D68;
$black: #24292E;
$boxshadowSolid:#d644442c -3px 3px 0px;
$boxshadowSolidTwo:#d8d8d8 0px 5px 0px;
$boxshadow: rgba(0, 0, 0, 0.10) 0px -2px 8px;

.container {
    height: unset;
}

.spacing {
    height: 200px;
}

.revealShortcut {
    height: 40px!important;
    opacity: 1!important;
    padding: 5px 5px;
    
    a {
        display: inline-block!important;
    }
}

.shortcut {
    transition: all 200ms cubic-bezier(0.56, 0.01, 0.5, 0.99);
    height: 0px;
    background-color: white;
    opacity: 0;
    left: 0;
    border-top: 1px dotted #d1d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    a {
        font-family: $paragraphFontKR;
        text-decoration: none;
        color: $primaryColor;
        font-size: 16px;
        padding: 10px 12px;
        margin: 0 3px;
        border-radius: 5px;
        display: none;
        font-weight: bold;

        &:active {
            color: gray;
        }

        &:hover {
            background:#eeeeee;
        }
    }
}

#menu-start {
    min-height: 100vh;
}

.menuContainer > div:first-child {
    position: relative;
    z-index: 500;
    width: 300px;
    padding: 0 30px 30px 30px;

    h1 {
        font-family: $paragraphFontKR;
        font-size: 24px;
        color: $primaryColor;
        margin-bottom: 0;
        padding-top: 180px;
        margin-top: -180px;
    }

    p {
        font-family: $paragraphFontKR;
        font-size: 12px;
        line-height: 18px;
        color: $black;
        margin-left: 2px;
        font-weight: bold;
    }

    div {
        width: 40px;
        margin-top: 10px;
        margin-left: 2px;
        border-bottom: 3px solid $primaryColor;
        border-radius: 20px;
    }
}

.invisiCard {
    // height: 270px!important;
    width: $cardWidth!important;
    margin: 0!important;
    padding: 0!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardList {
    position: relative;
    z-index: 500;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menuContainer:last-child {
    margin-bottom: 50px;
}

.card {
    width: $cardWidth;
    height: $cardHeight;
    padding: 0px;
    border: 1px solid #d6d6d6;
    border-bottom: none;
    margin: 20px 0px;
    background-color: white;
    border-radius: $borderRadius;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: $paragraphFontKR;
    // box-shadow: $boxshadowSolidTwo;

    & > div:first-child {
        height: 65%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 170px;
            border-radius: $borderRadius;
        }
    }

    & > div:last-child {
        background-color: $secondaryColor;
        height: 35%;
        width: 100%;
        padding: 0;
        margin: 0;
        // border-top: 1px solid #acacac;
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;

        div {
            margin: 0 auto;
            padding: 5px;
            background-color: $secondaryColor;
            // background-image: linear-gradient(0deg, #190404 -200%, #da3535 50%, #c12f2f 200%);
            width: 80%;
            height: 100%;
            box-sizing: border-box;
            border-width: 6px;
        }

    }

    h1 {
        font-size: 13px;
        line-height: 20px;
        margin: 15px auto 20px auto;
        width: 100%;
        color: $black;
    }

    h2 {
        margin: 15px 0;
        font-size: 12px;
        color: $tertiaryColor;
    }
}

.hidden {
    visibility: hidden;
}

@media (min-width: 481px) and (max-width: 1000px) {
    $factor: 0.85;
    .revealShortcut {
        height: 70px!important;
        opacity: 1!important;
        padding: 5px 0px;
    }

    .invisiCard {
        height: unset!important;
        width: unset!important;
        margin: unset!important;
        padding: unset!important;
        display: block!important;
    }

    .menuContainer > div:first-child {
        position: relative;
        padding: 10px;
        z-index: 500;

        h1 {
            font-size: 20px;
        }
    
        p {
            font-size: 10px;
            line-height: 18px;
        }
    
        div {
            width: 30px;
            margin-left: 2px;
            border-bottom: 2px solid lightgray;
        }
    }

    .hidden {
        display: none!important;
    }

    .menuContainer {
        padding: 20px;
    }

    .cardList {
        padding: 20px 0;
        width: unset;
    }

    .card {
        width: 160px;
        height: 240px;
        margin: 10px 10px;

        & > div:first-child {
            height: 160px;
            width: 160px;

            img {
                width: 120px;
                border-radius: $borderRadius;
            }
        }

        & > div:last-child {
            
        }

        h1 {
            font-size: 12px;
            line-height: 18px;
            margin: 15px 0 10px 0;
            width: 98%;
        }
    
        h2 {
            margin: 10px 0;
            font-size: 10px;
        }
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    $factor: 0.9;
    $cardHeight: 210px;
    $cardWidth: 150px;

    .spacing {
        height: unset;
    }

    .invisiCard {
        height: unset!important;
        width: $cardWidth!important;
        margin: unset!important;
        padding: unset!important;
        display: block!important;
    }

    .revealShortcut {
        height: 70px!important;
        opacity: 1!important;
        padding: 5px 0px;
    }

    .shortcut {
        a {
            font-size: 11px;
            margin: 0 1px;
            padding: 5px 8px;
        }
    }

    .menuContainer > div:first-child {
        padding: 0px 10px;

        h1 {
            font-size: 20px;

            &::before {
                content: '';
                display: block;
                height: 400px;
                margin-top: -230px;
                visibility: hidden;
            }
        }
    
        p {
            font-size: 10px;
            line-height: 18px;
        }
    
        div {
            width: 30px;
            margin-left: 2px;
            border-bottom: 2px solid $black;
        }
    }

    .hidden {
        // display: none!important;
    }

    .menuContainer {
        padding: 0px;
    }

    .cardList {
        padding: 20px 0;
        width: unset;
    }

    .card {
        width: $cardWidth;
        height: $cardHeight;
        margin: 10px 0;

        & > div:first-child {
            height: 65%;
            img {
                width: 110px;
                border-radius: $borderRadius;
            }
        }

        & > div:last-child {
            height: 35%;
            div {
                width: 80%;
            }
        }

        h1 {
            font-size: 10px;
            line-height: 16px;
            margin: 10px auto 5px auto;
            width: 90%;
        }
    
        h2 {
            margin: 8px 0;
            font-size: 9px;
        }
    }
}