$borderRadius: 5px;
$cardHeight: 230px;
$cardWidth: 180px;
$paragraphFontKR: "Nanum Gothic Coding", "Arial";
$primaryColor: #8C4219;
$secondaryColor: #F1ECE7;
$tertiaryColor: #7C9D68;
$black: #2E2E2E;
$boxshadow: rgba(0, 0, 0, 0.10) 0px -2px 8px;

.container {
    height: unset;
}

.spacing {
    height: 200px;
}

.shortcut {
    background-color: white;
    height: 40px;
    padding: 5px 5px;
    left: 0;
    border-top: 1px dotted #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    a {
        font-family: $paragraphFontKR;
        text-decoration: none;
        color: $black;
        font-size: 16px;
        padding: 10px 12px;
        border-radius: 5px;

        &:active {
            color: gray;
        }

        &:hover {
            background:rgb(245, 245, 245);
        }
    }
}

.menuContainer > div:first-child {
    width: 300px;
    padding: 0 30px 30px 30px;

    h1 {
        font-family: $paragraphFontKR;
        font-size: 24px;
        color: $primaryColor;
        margin-bottom: 0;
        padding-top: 180px;
        margin-top: -180px;
    }

    p {
        font-family: $paragraphFontKR;
        font-size: 12px;
        line-height: 18px;
        color: $black;
        margin-left: 2px;
        font-weight: bold;
    }

    div {
        width: 50px;
        margin-top: 10px;
        margin-left: 2px;
        border-bottom: 3px solid $black;
        border-radius: 15px;
    }
}

.menuContainer {
}

.invisiCard {
    height: 250px!important;
    width: 245px!important;
    margin: 0!important;
    padding: 0!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardList {
    position: relative;
    z-index: 500;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menuContainer:last-child {
    margin-bottom: 50px;
}

.card {
    width: $cardWidth;
    height: $cardHeight;
    padding: 2px;
    border: 1px solid #b7b7b7;
    margin: 10px 20px;
    background-color: white;
    border-radius: $borderRadius;
    // box-shadow: rgba(0, 0, 0, 0.10) 0px 2px 4px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: $paragraphFontKR;

    div:first-child {
        height: 150px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px dotted #b7b7b7;

        img {
            width: 130px;
        }
    }

    div:last-child {
        margin-top: 2px;
        background-color: #F1ECE7;
        flex-grow: 1;
        border-radius: 0 0 $borderRadius $borderRadius;
    }

    h1 {
        font-size: 11px;
        line-height: 16px;
        margin: 15px 0 10px 0;
        width: 98%;
    }

    h2 {
        margin: 0;
        font-size: 12px;
        color: gray;
    }
}

.hidden {
    visibility: hidden;
}

@media (min-width: 481px) and (max-width: 1000px) {
    $factor: 0.85;

    .invisiCard {
        height: unset!important;
        width: unset!important;
        margin: unset!important;
        padding: unset!important;
        display: block!important;
    }

    .menuContainer > div:first-child {
        padding: 10px;

        h1 {
            font-size: 20px;
        }
    
        p {
            font-size: 10px;
            line-height: 18px;
        }
    
        div {
            width: 30px;
            margin-left: 2px;
            border-bottom: 2px solid $black;
        }
    }

    .hidden {
        display: none!important;
    }

    .menuContainer {
        padding: 20px;
    }

    .cardList {
        padding: 20px 0;
        justify-content: space-around;
    }

    .card {
        width: $cardWidth * $factor;
        height: $cardHeight * $factor;
        margin: 10px 0;

        div:first-child {
            height: $cardWidth * $factor;

            img {
                width: $cardWidth * $factor - 20px;
                border-radius: $borderRadius;
            }
        }

        h1 {
            font-size: 9px;
            line-height: 14px;
            margin: 15px 0 10px 0;
            width: 98%;
        }
    
        h2 {
            margin: 0;
            font-size: 10px;
            color: gray;
        }
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    $factor: 0.9;
    $cardHeight: 230px;
    $cardWidth: 150px;

    .spacing {
        height: unset;
    }

    .invisiCard {
        height: unset!important;
        width: unset!important;
        margin: unset!important;
        padding: unset!important;
        display: block!important;
    }

    .shortcut {
        height: 70px;
        padding: 5px 0px;
    
        a {
            font-size: 11px;
            padding: 5px 8px;
        }
    }

    .menuContainer > div:first-child {
        padding: 0px;

        h1 {
            font-size: 20px;

            &::before {
                content: '';
                display: block;
                height: 400px;
                margin-top: -230px;
                visibility: hidden;
            }
        }
    
        p {
            font-size: 10px;
            line-height: 18px;
        }
    
        div {
            width: 30px;
            margin-left: 2px;
            border-bottom: 2px solid $black;
        }
    }

    .hidden {
        display: none!important;
    }

    .menuContainer {
        padding: 10px;
    }

    .cardList {
        padding: 20px 0;
        width: unset;
    }

    .card {
        width: $cardWidth * $factor;
        height: $cardHeight * $factor;
        margin: 10px 0;

        div:first-child {
            height: $cardWidth * $factor;

            img {
                width: $cardWidth * $factor - 20px;
                border-radius: $borderRadius;
            }
        }

        h1 {
            font-size: 9px;
            line-height: 14px;
            margin: 15px 0 10px 0;
            width: 98%;
        }
    
        h2 {
            margin: 0;
            font-size: 10px;
            color: gray;
        }
    }
}